* {
    outline: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    color: #333333;
    background: #fafafa;
    -webkit-font-smoothing: antialiased;
    text-rendering: geometricPrecision;
   
}

.title {
    font-size: 5vw;
    font-weight: 300;
    color: #989898;
    padding: 5rem 0 3rem;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.search-box {
    max-width: 500px;
    margin: 0 auto 2rem;
}

.heroesContainer {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
}

.heroesContainer > p {
    padding: 0.25rem 1rem;
    margin: 0.5rem;
    border: 1px solid #b6c5d2;
    border-radius: 2em;
    white-space: nowrap;
    background: #fff;

}

.heroesContainer > h6 {
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: 100;
    color: red;
}